/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			
		}
	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}
.main-navigation li.current_page_item {
  border-bottom: 3px solid #db272a;
 }
 .main-navigation li:first-child {
 	border-left: 1px solid #e1e1e1;
 }
 .main-navigation li:last-child {
 	border-right: none;
 }
 .main-navigation form {
	margin: 0 20px;
	height: 30px;
    display: flex;
    justify-content: flex-end;
	}
.main-navigation fieldset {
	border: none;
	margin: 8px 0;
}
.main-navigation label input {
	border: none;
}
.main-navigation button {
	border: none;
	border-radius: 0;
	background-color: transparent;
	outline: 0;
	font-size: 1rem;
	color: gray;
}
.main-navigation {
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
    box-shadow: 0 2px 3px 0 rgba(150,150,150,.25);
}
.main-navigation li {
    background-color: #fff;
    border-right: 1px solid #e1e1e1;
    box-shadow: 0 2px 3px 0 rgba(150,150,150,.25);
    padding: 1rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
